

body, html {
    margin: 0;
    padding: 0;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    position: relative; /* Ensure the position is relative for absolute positioning */
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;

    user-select: none; /* Standard syntax */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    -ms-overflow-style: none; /* hide scroll bar in Explorer/Edge*/
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Hide overflow for zoom and pan effect */
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically (optional) */
}

img {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    display: block;
    transition: transform 0.00s; /* Smooth zoom transitions */
}

.panel {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    padding: 5px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.close-btn {
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: #9b5757;
    color: white;
    width: 22px;
    border-radius: 3px;
    &:hover {
        background-color: rgb(21, 130, 255);
    }
}

#info-panel {
    position: relative;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    #comicTitle {
        font-weight: bold;
    }
    #comicAuthor {
        color: grey;
        font-size: 0.8em;
    }
    #comicDescription {
        color: black;
    }

    #versionID {
        position: absolute;
        bottom: -10px;
        left: 10px;
        color: lightgray;
    }
}

#button-panel {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
}

.icon {
    max-width: 30px;
    max-height: 30px;
    padding: 5px;
    &:hover {
        filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(180deg);
    }
}

#control-panel {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for better readability */
    padding: 5px;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    

    .arrow {
        padding: 5px;
        
        &.left {
            scale: -1;
        }
        
    }

    #pageIndex {
        &:hover {
            filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(180deg);
        }
    }

    #page-select-menu {
        display: none; /* Hidden by default */
        position: absolute;
        bottom: 50px; 
        left: 25%;
        background-color: white;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        border-radius: 5px;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 300px;
        font-size: 14.5px;

        .page-select-item {
            color: black;
            padding: 10px 20px;
            margin: 0;
            text-decoration: none;
            display: block;
            /* transition: background-color 0.1s ease; */
            &:hover {
                background-color: #6ef0ff;
            }
        }
    }
}
