body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

li {
    text-align: left;
}

#drop-area {
    border: 2px dashed #ccc;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    color: #3f3bbb;
}

#drop-area p {
    margin: 0;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

#gallery img {
    width: 100%;
    height: auto;
    display: block;
    cursor: grab;
}

.image-wrapper {
    display: inline-block;
    position: relative;
}

.delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
}


.sortable-placeholder {
    background: #f0f0f0;
    border: 1px dashed #ccc;
    visibility: visible !important;
}

#delete-all-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: #d9534f;
    color: white;
    border: none;
    cursor: pointer;
}

#delete-all-btn:hover {
    background-color: black;
}

#download-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

#download-btn:hover {
    background-color: #0056b3;
}
